h1{
    height:100px;
    line-height:80px;
     background-color: rgba(230,230,230,0.5);
     box-shadow: 1px 1px 2px gray;
     font-weight: bolder;
     width:90%;
     margin:0px auto;
 }

.header{
    background-color: lightblue;
    color: blue;
    padding: 10px 10px;
    margin: 0px 0px;
}

.Quotes{
    margin: 20px 20px;
    border-collapse: separate;  
    border-spacing: 0 15px; 
}

.Quote-box{
    border: 1px black solid;
    border-radius:  1rem;
    color: blue;
    margin: 10px 10px;
    padding: 10px 10px;
}

.Subox {
    display: flex;
    flex-direction: row;
    color:white;
    border-radius: 1rem; 
    font-size: small;
    font-style: italic;
    background-color: grey;
    align-content: center;
    justify-content: center;
    height: 30px;
}

.likes{
    background-color: white;
    flex: 0.015;
    color:black;
    border-radius: 1rem;
    float: right;
    font-size: small;
    align-self: center;
    border: 2px solid red;
    margin-top: 16px;
    margin-right: 1px;
    text-align: center;
    padding: 3px 
}

.Author-name{
    
    flex: 1;
    float: left;
    position:relative;
    align-self: center;
    padding-top: 10px;
    
}